.icon-down {
  cursor: pointer;
  margin-top: 150px;
}

.icon-up {
  margin-left: 50%;
  color: $secondary-color;
  cursor: pointer;
  margin-bottom: 3%;
  font-size: 30px;
}
.menu-icon {
  display: none;
}
