@import "variables";

.icon-down a {
  cursor: pointer;
  color: $primary-color;
  margin-bottom: -40%;
  font-size: 30px;
  line-height: 6.8;
}

.icon-up a {
  margin-left: 50%;
  cursor: pointer;
  margin-bottom: 3%;
  font-size: 30px;
  color: $secondary-color;
}
.menu-icon {
  display: none;
}
