@import "variables";
@import "mobile";
@import "navbar";
@import "layout";
@import "team";
@import "footer";
@import "components";

h2 {
  text-align: center;
  color: $secondary-color;
  margin-bottom: 300px;
}
h3 {
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 20px;
  align-items: center;
}

a {
  color: $primary-color;
}

a:hover {
  color: grey;
}
