@charset "UTF-8";
@media only screen and (max-width: 768px) {
  .background-pic {
    background-size: cover;
    background-position: center;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar__list {
    display: none;
  }
  .background-menu-icon {
    background-color: rgba(255, 255, 250, 0.1);
    padding-top: 1%;
  }
  .background-menu-icon .menu-icon {
    margin-left: 80%;
    margin-top: 2%;
    font-size: 40px;
    display: block;
    cursor: pointer;
  }
  h2 {
    color: black;
  }
  .wrapper {
    position: relative;
    height: 100vh;
  }
  section .pic .image-container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
  }
  section .pic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  }
  .information {
    height: 150px auto;
    width: 60px auto;
    background-color: rgb(226, 224, 224);
    color: black;
    margin-top: 15px;
    padding: 5px;
    border-radius: 2%;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    text-align: center;
  }
  footer section {
    flex-wrap: wrap;
    min-width: 50%;
  }
}
.menu-icon {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.main-section {
  margin-top: 200px;
}

h2 {
  color: black;
  margin-bottom: 300px;
}

.background-pic {
  background-image: url("assets/profiles/negative-space-black-forest-dawn.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 25px;
}

/* Navigerings-Meny*/
.navbar {
  background-color: rgba(255, 255, 250, 0.1);
  margin: 0;
  padding-bottom: 10px;
}

.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.navbar__list .navbar__item {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}
.navbar__list .navbar__item .navbar__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
}

.navbar__link::before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  color: white;
  transition: width 0.2s;
}

.navbar__link:hover::after {
  width: 100%;
}

.wrapper {
  height: 70vh;
}

section .pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -300px;
  color: black;
}

section .pic .image-container {
  margin: 100px;
}

section .pic img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
}

.information {
  height: 100 px;
  width: 60;
  background-color: rgb(226, 224, 224);
  color: black;
  margin-top: 15px;
  padding: 5px;
  border-radius: 2%;
}

/* Knappen som åker nedåt */
.fa-circle-arrow-down {
  margin-top: 130px;
  cursor: pointer;
}

/* Knappen som åker uppåt*/
.fa-solid.fa-circle-arrow-up.fa-beat {
  text-align: center;
  color: black;
  cursor: pointer;
  margin-bottom: 30px;
}

/* länkarna i footern*/
a {
  color: white;
}

a:hover {
  color: grey;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  background-color: black;
  color: white;
}

footer section {
  flex: 1;
  text-align: center;
  padding: 10px;
  text-align: start;
  margin-left: 10%;
}